<div class="header-wrapper header6">

{% if top_line_style %}
<div class="top_line">
  <div class="container {{ top_line_width }}">
  	<div class="table">
        <div class="table-cell left sm-text-center xs-text-center">
            <div class="promo-message">{{ promo_message }}</div>
        </div>
        <div class="table-cell text-right hidden-xs hidden-sm">
            <div class="links">
            <ul>
                <li class="static-link">
                    <i class="fa fa-facebook-square"></i> <span style="margin-left:5px; border-bottom: 1px solid rgba(255,255,255,0.3);">
            <a href="https://www.facebook.com/silikonskecijevi.gumenecijevi">Facebook</a></span>
                </li>


            </ul>
            {% if lang_curr_title %}
            <div class="setting-ul">
            <div class="setting-li dropdown-wrapper from-left lang-curr-trigger nowrap"><a>
            <span>{{ lang_curr_title }}</span>
            </a>
            <div class="dropdown-content dropdown-right lang-curr-wrapper">
            {{ language }}
            {{ currency }}
            </div>
            </div>
            </div>
            {% endif %}
            </div>
        </div>
    </div> <!-- .table ends -->
  </div> <!-- .container ends -->
</div> <!-- .top_line ends -->
{% endif %}

<span class="table header-main sticky-header-placeholder slidedown ">&nbsp;</span>
<div class=" outer-container header-style sticky-header">
  <div class="container {{ main_header_width }}">
    <div class="table header-main {{ main_menu_align }}">
    
    <div class="table-cell text-left w20 logo">
    	{% if logo %}
        <div id="logo">
    	<a href="{{ home }}"><img src="image/logo-pasaric-white.svg" title="{{ name }}" alt="{{ name }}" /></a>
        </div>
    	{% endif %}
    </div>
    
    {% if primary_menu %}
    <div class="table-cell text-center w60 menu-cell hidden-xs hidden-sm">
        <div class="main-menu">
            <ul class="categories">
              {% if primary_menu == 'oc' %}
                <!-- Default menu -->
                {{ default_menu }}
              {% elseif primary_menu is defined %} 
                <!-- Mega menu -->
                {% for key, row in primary_menu_desktop %}
                {% include 'basel/template/common/menus/mega_menu.twig' %}
                {% endfor %}
              {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
    
    <div class="table-cell w20 shortcuts text-right">
       
       <div class="font-zero">
           <div class="icon-element is_wishlist">

               {% if logged %}
                   <a class="shortcut-wrapper wishlist " title="Korisnički račun" href="{{ login }}"><i class="icon-user icon"></i></a><a class="shortcut-wrapper wishlist" title="Odjava" href="{{ logout }}"> Odjava  <div class="wishlist-hover"></div>
               </a>
               {% else %}
                   <a class="shortcut-wrapper wishlist" title="Korisnički račun" href="{{ login }}">
                       <div class="wishlist-hover"><i class="icon-user icon"></i></div>
                   </a>
               {% endif %}
           </div>


           <div class="icon-element is_wishlist hidden-xs">
        <a class="shortcut-wrapper wishlist" href="{{ wishlist }}">
        <div class="wishlist-hover"><i class="icon-heart icon"></i><span class="counter wishlist-counter">{{ wishlist_counter }}</span></div>
        </a>
        </div>
        
        <div class="icon-element catalog_hide">
        <div id="cart" class="dropdown-wrapper from-top">
        <a href="{{ shopping_cart }}" class="shortcut-wrapper cart">
        <i id="cart-icon" class="global-cart icon"></i> <span id="cart-total" class="nowrap">
        <span class="counter cart-total-items">{{ cart_items }}</span>
        </a>
        <div class="dropdown-content dropdown-right hidden-sm hidden-xs">
        {{ cart }}
        </div>
		</div>
        </div>
        
        <div class="icon-element">
        <a class="shortcut-wrapper menu-trigger hidden-md hidden-lg">
        <i class="icon-line-menu icon"></i>
        </a>
        </div>
        
       </div>
        
    </div>
    
    </div> <!-- .table.header_main ends -->
  </div> <!-- .container ends -->
</div> <!-- .sticky ends -->

<div class="slidedown outer-container header-bottom hidden-xs hidden-sm sticky-header">
<div class="container {{ main_header_width }}">
	<div class="table">
    	{% if secondary_menu %}
    	<div class="table-cell w225">
        <div class="main-menu vertical vertical-menu-bg dropdown-wrapper from-bottom">
        <h4 class="menu-heading"><b>{{ basel_text_category }}<i class="fa fa-angle-down"></i></b></h4>
            <ul class="categories vertical-menu-bg dropdown-content">
              {% if secondary_menu == 'oc' %}
                <!-- Default menu -->
                {{ default_menu }}
              {% elseif secondary_menu is defined %} 
                <!-- Mega menu -->
                {% for key, row in secondary_menu_desktop %}
                {% include 'basel/template/common/menus/mega_menu.twig' %}
                {% endfor %}
              {% endif %}
            </ul>
        </div>
        </div>
        {% endif %}

        <div class="table-cell  search-cell {{ basel_search_scheme }}">
         {{ basel_search }}
        </div>



    </div>
</div><!-- .container ends -->
</div>

</div> <!-- .header_wrapper ends -->