<div class="newsletter-wrap">
<div class="input-group sign-up-field">
<span class="sign-up-respond" id="subscribe-respond{{ module }}"></span>
<input type="text" id="subscribe-module{{ module }}" name="email" class="form-control" placeholder="{{ basel_subscribe_email }}" />
<span class="input-group-btn">
<a class="btn btn-neutral btn-green nowrap" onclick="subscribe({{ module }});"><span class="nowrap">{{ basel_subscribe_btn }}</span></a>
</span>
</div>
    <p  style="margin-top:15px"><input class="chk" name="terms" required type="checkbox"> {{ basel_agree }} </p>
</div>