{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
            </div>
            <h1>{{ title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div id="alert_placeholder"></div>
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> {{ btn_products_import }}</h3>
                    </div>
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <a href="javascript:void(0)" id="import-new-products" data-toggle="tooltip" title="{{ help_products_import }}" class="btn btn-default">Import New Products</a>
                            </div>
                            <p class="col-sm-8" style="margin-top: 9px;">{{ help_products_import }}</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-12 col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> {{ btn_categories_import }}</h3>
                    </div>
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <a href="javascript:void(0)" id="import-new-categories" data-toggle="tooltip" title="{{ help_categories_import }}" class="btn btn-default">Import New Categories</a>
                            </div>
                            <p class="col-sm-7">{{ help_categories_import }}</p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> {{ btn_manufacturer_import }}</h3>
                    </div>
                    <div class="panel-body form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <a href="javascript:void(0)" id="import-new-manufacturer" data-toggle="tooltip" title="{{ help_manufacturer_import }}" class="btn btn-default">Import New Manufacturers</a>
                            </div>
                            <p class="col-sm-7">{{ help_manufacturer_import }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <style>

    </style>

    <script type="text/javascript">
      $(document).ready(() => {
        $('#import-new-categories').on('click', (e) => {
          $.ajax({
            url: 'index.php?route=extension/module/luceed_sync/importCategories&user_token={{ user_token }}',
            dataType: 'json',
            success: function(json) {
              checkResult(json);
            }
          });
        });

        $('#import-new-manufacturer').on('click', (e) => {
          $.ajax({
            url: 'index.php?route=extension/module/luceed_sync/importManufacturers&user_token={{ user_token }}',
            dataType: 'json',
            success: function(json) {
              checkResult(json);
            }
          });
        });

        $('#import-new-products').on('click', (e) => {
          $.ajax({
            url: 'index.php?route=extension/module/luceed_sync/importProducts&user_token={{ user_token }}',
            dataType: 'json',
            success: function(json) {
              checkResult(json);
            }
          });
        });

      });


      function checkResult(result) {
        if (result.status == 200) {
          AG_alert.success(result.message);
        }
        if (result.status == 300) {
          AG_alert.warning(result.message);
        }
      }


      AG_alert = () => {}
      AG_alert.success = (message) => {
        $('#alert_placeholder').html('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + message + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
        hideAlert();
      }
      AG_alert.warning = (message) => {
        $('#alert_placeholder').html('<div class="alert alert-warning alert-dismissible"><i class="fa fa-warning"></i> ' + message + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>')
        hideAlert();
      }


      function hideAlert() {
        setTimeout(() => { $('#alert_placeholder').html(''); }, 6300);
      }

      /*$('#clickme').on('click', function() {
        bootstrap_alert.warning('Your text goes here');
      });*/
    </script>
</div>
{{ footer }}
